.navbar{
    z-index: 10;
}

#search-icon{
    cursor: pointer;
}

#search-bar{
    display: none;
    z-index: 2;
    position: absolute;
    min-width: 300px;
    left: 50%;
    -webkit-transform: translate(-50%, 30%);
    transform: translate(-50%, 30%);
}

#close-search-container{
    z-index: 1;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search-container{
    position: relative;
    z-index: 2;
}

#movie-result-container{
    display: none;
    padding: 10px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.10);
    -webkit-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.10);
}

#TV-result-container{
    display: none;
    padding: 10px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.10);
    -webkit-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.10);
}

.result-display-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 456px);
    grid-gap: 15px;
    align-items: start;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 70px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#user-result-container{
    display: none;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.10);
    -webkit-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.10);
}

.result-card{
    text-decoration: none;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    width: 100%;
    padding: 10px 50px;
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img title"
    "img year";
}

.user-result-card{
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    width: 100%;
    padding: 10px 50px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.result-card h5{
    font-size: 15px;
    margin: 0;
    color: black;
}

.result-card p{
    font-size: 12px;
    margin: 0;
    color: gray;
}

.result-card:hover{
    background-color: lightcyan;
}

.user-result-card:hover{
    background-color: lightcyan;
}

.user-result-card h5{
    font-size: 15px;
    margin: 0 30px;
    color: black;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    border-radius: 5px;
    grid-area: img;
    width: 50px;
    height: 70px;
}

.user-profile
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    border-radius: 5px;
    width: 50px;
    height: 70px;
    object-fit: cover;
}