{% extends 'app/main.html' %}

{% load static %}

{% block title %}{{response.original_title}}{% endblock title %}
{% block style %}{% static 'css/info.css' %}{% endblock style %}
{% block style2 %}{% static 'css/edit.css' %}{% endblock style2 %}
{% load static %}

{% block body %}
<main>
    <img src="https://image.tmdb.org/t/p/w1280/{{response.backdrop_path}}" class="backdrop-img">
    <div class="side-panel">
        <img src="https://image.tmdb.org/t/p/w500/{{response.poster_path}}" class="poster"></img>
        {% if initial %}
        <div class="edit-button">{{initial.status}}</div>
        {% else %}
        <div class="edit-button">Add to list</div>
        {% endif %}

    </div>
    <div class="info-container">
        <div class="overview-container">
            <h3 class="title">{{response.title}}</h3>
            <h5 class="tagline">{{response.tagline}}</h5>
            <p class="overview">{{response.overview}}</p>
        </div>
        <div class="tags-container">
            {% for genre in response.genres %}
            <div class="tag">{{genre.name}}</div>
            {% endfor %}

        </div>
        <div class="extra-info-container">
            <div class="extra-info">
                <h6>Status</h6>
                <p>{{response.status}}</p>
            </div>
            <div class="extra-info">
                <h6>Release date</h6>
                <p>{{response.release_date}}</p>
            </div>
            <div class="extra-info">
                <h6>Popularity</h6>
                <p>{{response.popularity}}</p>
            </div>
            <div class="extra-info">
                <h6>runtime</h6>
                <p>{{response.runtime}}</p>
            </div>
        </div>
    </div>

</main>

{{ initial |json_script:'data' }}
{{ response.id |json_script:'id' }}


{% include 'app/edit.html' %}

<script src="{% static 'js/edit.js' %}"></script>
{% endblock body %}