{% extends 'app/main.html' %}

{% load static %}

{% block style %}{% static 'css/profile.css' %} {% endblock style %}
{% block style2 %}{% static 'css/edit.css' %}{% endblock style2 %}
{% block title %}{{username}}{% endblock title %}
{% block profileactive %}active{% endblock profileactive %}

{% block body %}
<main>
    <div class="list-container">
        <div class="list-header info-card">
            <h6 class="title">Title</h6>
            <h6 class="status">Status</h6>
            <h6 class="score">Score</h6>
        </div>
        {% for item in data %}
        <div class="info-card" id="{{item.movie_id}}" status="{{item.status}}" score="{{item.score}}"
            title="{{item.title}}" img="{{item.img}}" backdrop="{{item.backdrop}}">
            <img class="card-img" src="https://image.tmdb.org/t/p/w92/{{item.img}}" alt="">
            <a class="title text-decoration-none" href="{% url 'info' item.movie_id%}">{{item.title}}</a>
            <p class="status">{{item.status}}</p>
            <p class="score">{{item.score}}</p>
            <i class="material-icons edit-button">dehaze</i>
        </div>
        {% endfor %}
    </div>
</main>

<div class="close-edit-container"></div>
<div class="edit-container">
    <img class="edit-container-backdrop"></img>
    <div class="form-container">
        <h4 id="edit-from-title"></h4>
        {% include 'app/form.html' %}
    </div>
</div>

<script src="{% static 'js/profile.js' %}"></script>

{% endblock body %}