{% extends 'app/main.html' %}

{% load static %}

{% block style %}{% static 'css/profile.css' %} {% endblock style %}
{% block style2 %}{% static 'css/edit.css' %}{% endblock style2 %}
{% block title %}{{username}}{% endblock title %}
{% block profileactive %}active{% endblock profileactive %}

{% block body %}
{{ permission|json_script:"auth" }}
{{ username|json_script:"username" }}
<main>
    <div class="profile-container">
        <div class="profile-picture"></div>
        <h5 class="username text-center">{{username}}</h5>
        <div class="filter-container">
            <h5 class="info-title">Filters</h5>
            <label for="filter_status" style="font-size: 12px;">Status</label>
            <select class="form-control" name="status" required id="filter_status">
                <option value="All" selected>All</option>
                <option value="Favorite">Favorite</option>
                <option value="Watching">Watching</option>
                <option value="Plan to watch">Plan to watch</option>
                <option value="Completed">Completed</option>
                <option value="On hold">On hold</option>
            </select>
            <br>
            <label for="filter_sort" style="font-size: 12px;">Sort by</label>
            <select class="form-control" name="status" required id="filter_sort">
                <option value="score">Score</option>
                <option value="date_added" selected>Date Added</option>
            </select>
        </div>
        <div class="stat-container">
            <h5 class="info-title mt-4 mb-2">Stats</h5>
            <div class="stat-card total">
                <p class="heading">Total entries</p>
            </div>
            <div class="stat-card comp">
                <p class="heading">Completed</p>
            </div>
            <div class="stat-card watch">
                <p class="heading">watching</p>
            </div>
            <div class="stat-card ptw">
                <p class="heading">Plan to watch</p>
            </div>
            <div class="stat-card oh">
                <p class="heading">On hold</p>
            </div>
        </div>
    </div>
    <div class="list-container">
    </div>
</main>

<div class="close-edit-container"></div>
<div class="edit-container">
    <img class="edit-container-backdrop"></img>
    <div class="form-container">
        <h4 id="edit-from-title"></h4>
        {% include 'app/form.html' %}
    </div>
</div>

<script src="{% static 'js/profile.js' %}"></script>

{% endblock body %}